


/* remove default v-container padding
Note: cannot be set to !important else it will oerride intentional padding set on the container with
pa-1 pa2 ....
*/
.container {
    padding: 0;
}


.grow {
    flex-grow: 1;
    flex-shrink: 0;
}
.shrink {
    flex-grow: 0;
    flex-shrink: 1;
}
  
  